{% extends "base.html" %}

{% block body_attribs %}class="login"{% endblock body_attribs %}

{% block body_div_attribs %}class="row"{% endblock body_div_attribs %}

{% block body_content %}
<!-- start: NOTIFICATIONS -->
{% include "include/_notifications.html" %}
<!-- end: NOTIFICATIONS -->
<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="logo margin-top-30">
        <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Web-WDT"/>
    </div>
{#    <!-- start: NOTIFICATIONS -->#}
{#    {% include "include/_notifications.html" %}#}
{#    <!-- end: NOTIFICATIONS -->#}

    <!-- start: LOGIN BOX -->
    <div class="box-login">
        <form method="POST" class="form-login" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>
                    Sign in to your account
                </legend>
                <p>
                    Please enter your name and password to log in.
                </p>
                <div class="form-group">
                    <span class="input-icon">
                        {% if form.username.errors %}
                            {% for e in form.username.errors %}
                                <p class="help-block">{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                        {{ form.username(class_="form-control") }}
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                <div class="form-group form-actions">
                    <span class="input-icon">
                        {% if form.password.errors %}
                            {% for e in form.password.errors %}
                                <p class="help-block">{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                        {{ form.password(class_="form-control") }}
                        <i class="fa fa-lock"></i>
                        <a class="forgot" href="{{ url_for('auth.login_forget') }}">
                            I forgot my password
                        </a>
                    </span>
                </div>
                <div class="form-actions">
                    <div class="checkbox clip-check check-primary">
                        {{ form.remember() }}
                        <label for="remember">
                            Keep me signed in
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">
                        Login <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </fieldset>
        </form>
        <!-- start: COPYRIGHT -->
        <div class="copyright">
            &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> ClipTheme</span>. <span>All rights reserved</span>
        </div>
        <!-- end: COPYRIGHT -->
    </div>
    <!-- end: LOGIN BOX -->
</div>
{% endblock %}

{% block page_only_scripts -%}
<script src="{{ url_for('static', filename='vendor/jquery-validation/jquery.validate.min.js') }}"></script>
{%- endblock page_only_scripts %}

{% block page_event_handle_scripts %}
<script src="{{ url_for('static', filename='assets/js/login.js') }}"></script>
<script>
    jQuery(document).ready(function() {
        Main.init();
        Login.init();
    });
</script>
{% endblock %}