{% extends "skeleton.html" %}

{% block page_only_styles %}
<link href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='vendor/DataTables/css/DT_bootstrap.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='vendor/bootstrap-timepicker/bootstrap-timepicker.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block page_main_title %}Execution Plan{% endblock %}

{% block page_main_desc %}Execution plan for all interface data fetching.{% endblock page_main_desc %}

{% block page_content %}
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <!-- start: LARGE MODAL -->
            <div class="modal fade bs-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Modal Content
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-o" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: LARGE MODAL -->
            <!-- start: QUERY CONDITION -->
            <div class="panel panel-white" id="panel1">
                <div class="panel-heading">
                    <h4 class="panel-title text-primary">Query Condition</h4>
                    <div class="panel-tools" >
                        <a data-original-title="Collapse" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-collapse" href="#"><i class="ti-minus collapse-off"></i><i class="ti-plus collapse-on"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <form method="POST" role="form">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <div class="checkbox clip-check check-primary">
                                        <input type="checkbox" id="qcc-exectime" value="1" checked="">
                                        <label for="qcc-exectime">
                                            Execution Time
                                        </label>
                                    </div>
                                    <div class="input-group input-daterange datepicker">
                                        <input type="text" class="form-control" value="10/19/2017" disabled />
                                        <span class="input-group-addon bg-primary">to</span>
                                        <input type="text" class="form-control" value="10/29/2017" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="checkbox clip-check check-primary">
                                        <input type="checkbox" id="qcc-biztypes" value="1" />
                                        <label for="qcc-biztypes">
                                            Business Types
                                        </label>
                                    </div>
                                    <select multiple="" class="js-example-basic-multiple js-states form-control">
                                        <optgroup label="Processed">
                                            <option value="PRF">refund</option>
                                            <option value="PIV">inventory</option>
                                            <option value="PSF">shifting</option>
                                            <option value="PSI">stockin</option>
                                            <option value="PSO">stockout</option>
                                            <option value="PTR">trade</option>
                                        </optgroup>
                                        <optgroup label="Finished">
                                            <option value="FRF">refund_finished</option>
                                            <option value="FTR">trade_finished</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="checkbox clip-check check-primary">
                                        <input type="checkbox" id="qcc-handled" value="1" />
                                        <label for="qcc-handled">
                                            Handled
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" class="js-switch" id="handled" checked />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end: QUERY CONDITION -->
            <!-- start: DATA TABLE -->
            <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th class="hidden-xs">Execute Time</th>
                        <th>Handled</th>
                        <th class="hidden-xs">Start Time</th>
                        <th class="hidden-xs">End time</th>
                        <th>Number of Entries</th>
                        <th class="hidden-xs">Detail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for plan in exec_plans %}
                    <tr{% if not plan.handle_flag %} class="danger"{% endif %}>
                        <th class="center" scope="row">{{ loop.index }}</td>
                        <td>{{ plan.type }}</td>
                        <td class="hidden-xs">{{ plan.exec_time }}</td>
                        <td class="center">{{ plan.handle_flag }}</td>
                        <td class="hidden-xs">2017-04-07 00:00:00.000000</td>
                        <td class="hidden-xs">2017-04-07 00:00:00.000000</td>
                        <td>0</td>
                        <td class="center">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a href="#" class="btn btn-transparent btn-xs" tooltip-placement="top" \
                                   tooltip="More" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-ellipsis-h"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- end: DATA TABLE -->
        </div>
    </div>
</div>
{% endblock page_content %}

{% block page_only_scripts %}
<script src="{{ url_for('static', filename='vendor/maskedinput/jquery.maskedinput.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/autosize/autosize.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/selectFx/classie.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/selectFx/selectFx.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap-timepicker/bootstrap-timepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/DataTables/jquery.dataTables.min.js') }}"></script>
{% endblock %}

{% block page_event_handle_scripts %}
<script src="{{ url_for('static', filename='assets/js/form-elements.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/table-data.js') }}"></script>
<script>
    jQuery(document).ready(function() {
        Main.init();
        FormElements.init();
        TableData.init();
    });
</script>
{% endblock %}