{% extends "skeleton.html" %}

{% block page_main_title %}Advanced Data Tables{% endblock %}

{% block page_main_desc %}Refers to data arranged in rows and columns. A spreadsheet, for example, is a table. In relational database management systems, all information is stored in the form of tables. <small class="block">Webopedia - Online Tech Dictionary for IT Professionals</small>{% endblock page_main_desc %}

{% block breadcrumb %}
<li>
    <span>Tables</span>
</li>
<li class="active">
    <span>Data Tables</span>
</li>
{% endblock breadcrumb %}

{% block page_content %}
<!-- start: Execution Plan -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <h3 class="over-title margin-bottom-15"><span class="text-bold">Execution Plan</span></h3>
            <p>
                Execution plan for all interface data fetching.
            </p>
            <div class="margin-top-30 margin-bottom-30">
                <nav id="cl-effect-10" class="links cl-effect-10">
                    <a data-hover="Execution Plan" href><span>Execution Plan</span></a>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- end: Execution Plan -->
<!-- start: System Log -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <h3 class="over-title margin-bottom-15"><span class="text-bold">System Log</span></h3>
            <p>
                <!-- 系统日志是记录系统中硬件、软件和系统问题的信息，同时还可以监视系统中发生的事件。用户可以通过它来检查错误发生的原因。 -->
                System logs are information about hardware, software, and system problems in the system and can also monitor events in the system. The user can check the cause of the error.
            </p>
            <div class="margin-top-30 margin-bottom-30">
                <nav id="cl-effect-10" class="links cl-effect-10">
                    <a data-hover="System Log" href><span>System Log</span></a>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- end: System Log -->
<!-- start: Settings -->
<div class="container-fluid container-fullw bg-white">
    <div class="row">
        <div class="col-md-12">
            <h3 class="over-title margin-bottom-15"><span class="text-bold">Settings</span></h3>
            <p>
                <!-- 设置系统中的基础数据信息。 -->
                Set the basic data information in the system.
            </p>
            <div class="margin-top-30 margin-bottom-30">
                <nav id="cl-effect-10" class="links cl-effect-10">
                    <a data-hover="Roles" href><span>Roles</span></a>
                    <a data-hover="Users" href><span>Users</span></a>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- end: Settings -->
<!-- start: Interface Data -->
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <h3 class="over-title margin-bottom-15"><span class="text-bold">Interface Data</span></h3>
            <p>
                <!-- 根据执行计划从WDT抓取的接口数据。 -->
                The interface data fetching from WDT according to the execution plan.
            </p>
            <div class="panel panel-white load1">
                <div class="panel-heading border-light">
                    <h4 class="panel-title">Processed</h4>
                </div>
                <div class="panel-body">
                    <nav id="cl-effect-10" class="links cl-effect-10">
                        <a data-hover="Purchase Order" href><span>Purchase Order</span></a>
                        <a data-hover="Purchase Return" href><span>Purchase Return</span></a>
                        <a data-hover="Refund" href><span>Refund</span></a>
                        <a data-hover="Inventory" href><span>Inventory</span></a>
                        <a data-hover="Shifting" href><span>Shifting</span></a>
                        <a data-hover="Stock In" href><span>Stock In</span></a>
                        <a data-hover="Stock Out" href><span>Stock Out</span></a>
                        <a data-hover="Trade" href><span>Trade</span></a>
                    </nav>
                </div>
            </div>
            <div class="panel panel-white load1">
                <div class="panel-heading border-light">
                    <h4 class="panel-title">Finished</h4>
                </div>
                <div class="panel-body">
                    <nav id="cl-effect-10" class="links cl-effect-10">
                        <a data-hover="Refund" href><span>Refund</span></a>
                        <a data-hover="Trade" href><span>Trade</span></a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: Interface Data -->
{% endblock page_content %}

{% block page_event_handle_scripts %}
<script src="{{ url_for('static', filename='assets/js/table-data.js') }}"></script>
<script>
    jQuery(document).ready(function() {
        Main.init();
    });
</script>
{% endblock %}