{% extends "base.html" %}

{#{% block title %}Main Page{% endblock %}#}

{% block body_div_attribs %}id="app"{% endblock body_div_attribs %}

{% block loading_effect -%}
    {% include "include/_loading.html" %}
{%- endblock loading_effect %}

{% block body_content %}
    <!-- sidebar -->
    <div class="sidebar app-aside" id="sidebar">
        <div class="sidebar-container perfect-scrollbar">
            <nav>
                {% include "include/_search_form.html" %}
                {% include "include/_main_nav_menu.html" %}
                {# {% include "include/_other_functions.html" %} #}
                {% include "include/_documentation.html" %}
            </nav>
        </div>
    </div>
    <!-- / sidebar -->
    <div class="app-content">
        {% include "include/_top_navbar.html" %}
        <div class="main-content" >
            <div class="wrap-content container" id="container">
                <!-- start: PAGE TITLE -->
                <section id="page-title">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1 class="mainTitle">{% block page_main_title %}{% endblock %}</h1>
                            <span class="mainDescription">{% block page_main_desc %}{% endblock page_main_desc %}</span>
                        </div>
                        <ol class="breadcrumb">
                            {% block breadcrumb %}
                                {% if breadcrumb %}
                                    {% for i in breadcrumb %}
                                    <li{% if loop.index == breadcrumb|length %} class="active"{% endif %}><span>{{ i }}</span></li>
                                    {% endfor %}
                                {% endif %}
                            {% endblock breadcrumb %}

                        </ol>
                    </div>
                </section>
                <!-- end: PAGE TITLE -->
                <!-- start: PAGE CONTENT -->
                {% block page_content %}
                {% endblock page_content %}
                <!-- end: PAGE CONTENT -->
            </div>
        </div>
    </div>
    <!-- start: FOOTER -->
    {% include "include/_footer.html" %}
    <!-- end: FOOTER -->
    <!-- start: SETTINGS -->
    {# {% include "include/_settings.html" %} #}
    <!-- end: SETTINGS -->
{% endblock %}

{% block page_event_handle_scripts %}
<script type="text/javascript">
    // windows onload 方法是在网页中所有的元素（包括元素的所有关联文件）完全加载到浏览器后才执行。
    //window.onload = function () {}''
    $(window).load(function(){
        $("#loading_modal").css("display", "none");
        //$("#loading_modal").modal("hide");
    });
</script>
{%- endblock page_event_handle_scripts %}
